.header {
    @media screen and (max-width: $mobile-width-only) {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: $z-fixed;
        box-shadow: 0 -3px 4px rgb(60 24 116 / 10%);
    }
    width: 100%;
    background-color: $basic-white;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    border: 0;
    // position: relative;
    min-height: 55px;
}
.header__logo {
    // height: 50px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 91px;
    // background-color: #1b242f;
    // border-bottom: 2px solid #932432;
}