.social-footer svg {
    fill: $basic-purple;
    width: 26px;
    height: 26px;
    &:hover, &:focus {
        fill: $dark-red;
    }
    &:active {
        fill: $bright-red;
    }
}

.social-footer--rest-pages svg {
    fill: $basic-white;
}

.social-footer {
    margin-bottom: 35px;
}
